src/main/mule/petstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="71ec7106-eeeb-460f-950f-869d56463689" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6fb426e-926a-4b90-a946-427426e36674" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="petstoreFlow" doc:id="8f274d52-6ccf-4a48-b2a8-85c3bba0340e" >
		<http:listener doc:name="Listener" doc:id="d93cb2d2-f95f-4b11-b22f-6162b3e0f80f" config-ref="HTTP_Listener_config" path="/pets"/>
		<logger level="INFO" doc:name="Logger" doc:id="d6046ec7-c481-494d-9417-3a485c8a03a8" message="-----------------------------------------Registration Started--------------------------------"/>
		<ee:transform doc:name="Transform Message" doc:id="b5c9cb35-0549-4a0d-87bd-fc042d4efa66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"petID": payload.petID,
	"petBreed": payload.petBreed, 
	"petName": payload.petName,
	"petColor": payload.petColor,
	"petAge": payload.petAge,
	"petGender": payload.petGender,
	"petStatus": payload.Status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="655234fa-9e4b-4aaf-8968-97f47ae1267b" config-ref="Database_Config">
					<db:sql><![CDATA[INSERT INTO petStore.pets (petID, petBreed, petName, petColor, petAge, petGender, petStatus) VALUES (:petID, :petBreed, :petName, :petColor, :petAge, :petGender, :petStatus)]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	"petID": payload.petID,
	"petBreed": payload.petBreed, 
	"petName": payload.petName,
	"petColor": payload.petColor,
	"petAge": payload.petAge,
	"petGender": payload.petGender,
	"petStatus": payload.petStatus
}]]]></db:input-parameters>
				</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="195ba776-3b56-4598-b1dd-01d86189b7a2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Pet Registered"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</flow>
</mule>
